<mat-card>
  <span layout-gt-sm="row" layout="column">
    <mat-card-title flex="100">{{playerStats.name}}</mat-card-title>
    <div
      *ngIf="playerStats.clan"
      flex
      layout-align-gt-sm="end"
      class="md-headline push-left"
      tdMediaToggle="gt-sm"
      [mediaClasses]="['push-top-md', 'push']"
    >
      <a routerLink="/clan/info/{{playerStats.clan.id}}" noStyle>{{playerStats.clan.name}}</a>
    </div>
  </span>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-subtitle>
      <div layout="row">
        <span flex-grow>Level {{playerStats.level}}</span>
        <span flex *ngIf="playerRankedStats">
        <img
          [src]="'/assets/flags/' + playerRankedStats.region.toLowerCase() + '.png'"
          alt="Region flag: {{playerRankedStats.region}}"
          class="size-32"
        />
      </span>
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>Time spent in game: {{ playerTime | timeSpent:1 }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>

