<div>
  <div *ngIf="clan === undefined">
    <h1>Loading Clan.. Please wait</h1>
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="clan !== undefined">
    <mat-card>
      <mat-card-header class="md-padding">
        <div layout="column" flex>
          <div flex>
            <h1>{{clan.name}}</h1>
          </div>
          <div flex layout="row" layout-align="space-between">
            <div flex layout="column" layout-align="end">
              <div>
                Creation date: {{clan.creationDate * 1000 | date:'longDate'}}
              </div>
              <div>
                XP: {{clan.xp}}
              </div>
              <div>
                There are {{clan.members.length}} members in this clan.
              </div>
            </div>
            <div flex layout="column" layout-align="center">
              <div flex-grow layout="row" layout-align="center">
                <a href="https://discord.gg/clanhalla"
                   target="_blank"
                   rel="noopener">
                  <img src="/assets/logos/clanhalla.png" alt="Clanhalla logo" class="light-image">
                </a>
              </div>
              <div flex layout="row" layout-align="center">
                <a href="https://discord.gg/clanhalla"
                   target="_blank"
                   rel="noopener"
                   noStyle>
                Join the Clanhalla discord!
                </a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div layout="row" layout-align="center" class="leader">
          <app-member [member]="leader" [clan]="clan"></app-member>
        </div>
        <div layout="row" layout-align="center" layout-wrap class="officers">
          <app-member flex *ngFor="let officer of officers" [member]="officer" [clan]="clan"></app-member>
        </div>
        <div layout="row" layout-align="center" layout-wrap class="members">
          <app-member flex *ngFor="let member of members" [member]="member" [clan]="clan"></app-member>
        </div>
        <div layout="row" layout-align="center" layout-wrap class="recruits">
          <app-member flex *ngFor="let recruit of recruits" [member]="recruit" [clan]="clan"></app-member>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

