<mat-card>
  <mat-card-title>Legends</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row">
      <div flex *ngFor="let index of [0,1]">
        <app-single-legend-overview
          *ngIf="getBestNthLegend(index) !== undefined"
          [legend]="getBestNthLegend(index)">
        </app-single-legend-overview>
      </div>
    </div>
  </mat-card-content>
</mat-card>
