<mat-card>
  <mat-card-title>Overview</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="column" layout-gt-sm="row">
      <div flex layout="column">
        <div flex class="md-headline">{{stats.games}} Games</div>
        <div flex>
          <ngx-charts-pie-chart
            [results]="winData"
            [scheme]="chartColors"
            [animations]="false"
            [doughnut]="true"
            [tooltipDisabled]="false"
            [legend]="true"
            legendTitle=""
          ></ngx-charts-pie-chart>
        </div>
      </div>
      <div flex layout="column">
        <div flex class="md-headline">Damage</div>
        <div flex>
          <ngx-charts-bar-horizontal
            [results]="damageData"
            [scheme]="chartColors"
            [animations]="false"
            [barPadding]="4"
            [showGridLines]="false"
            [tooltipDisabled]="false"
          ></ngx-charts-bar-horizontal>
        </div>
      </div>
      <div flex layout="column">
        <div flex class="md-headline">Lives</div>
        <div flex>
          <ngx-charts-bar-horizontal
            [results]="koData"
            [scheme]="chartColors"
            [animations]="false"
            [barPadding]="4"
            [showGridLines]="false"
            [tooltipDisabled]="false"
          ></ngx-charts-bar-horizontal>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
