<mat-card>
  <mat-card-title class="push-top-md">
    Whoops!
  </mat-card-title>
  <mat-card-subtitle>
    This page does not exist
  </mat-card-subtitle>
  <mat-card-content>
    <a routerLink="/">Back to index</a>
    <img src="/assets/ulgrim_404.png" aria-hidden alt="404 image" style="width: 100%;">
    <small>
      Source:
      <a href="https://www.reddit.com/r/Brawlhalla/comments/5leiws/heres_that_ulgrim_from_the_collab/"
         target="_blank"
         rel="noopener"
      >Clunse</a>
    </small>
  </mat-card-content>
</mat-card>
