<mat-card>
  <mat-card-title>
    Rankings
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="push-bottom">
      <span class="push-right">Region: </span>
      <mat-radio-group [(ngModel)]="region" (change)="updateRoute()">
        <mat-radio-button
          class="push-right"
          *ngFor="let region of regions"
          [value]="region">
          {{region.toUpperCase()}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-divider></mat-divider>

    <div class="md-headline">Players</div>
    <div *ngIf="!this.players">
      Loading..
    </div>
    <div *ngIf="this.players">
      <div *ngIf="this.selectedPlayer">
        <app-player-preview [player]="this.selectedPlayer"></app-player-preview>
        <button
          mat-raised-button
          color="primary"
          class="full-width"
          routerLink="/player/stats/{{this.selectedPlayer.brawlhallaID}}"
        >Detailled Stats
        </button>
      </div>
      <div>
        <td-data-table
          #dataTable
          [data]="players"
          [columns]="columns"
          [selectable]="false"
          [clickable]="true"
          [multiple]="false"
          [sortable]="false"
          [(ngModel)]="selectedPlayer"
          (rowClick)="selectPlayer($event.row)">
        </td-data-table>
      </div>
      <td-paging-bar
        #paginationBar
        [initialPage]="page"
        [pageLinkCount]="5"
        [pageSize]="50"
        [total]="99999"
        (change)="this.page = $event.page;updateRoute()">
        <p hide-xs>Go to:</p>
        <mat-form-field [style.width.px]="30">
          <input #goToInput
                 matInput
                 type="number"
                 [min]="1"
                 [(ngModel)]="page"
                 (change)="updateRoute()"
          >
        </mat-form-field>
        <span hide-xs>Players {{paginationBar.range}}</span>
      </td-paging-bar>
    </div>
  </mat-card-content>
</mat-card>
