<mat-card>
    <div layout="row">
      <span flex></span>
      <!-- ranked games graph and elo stuff -->
      <span flex layout="column">
        <span flex class="mat-title">{{games}} games</span>
        <span flex class="pull-left-md" style="height: 40px">
          <ngx-charts-bar-horizontal-stacked
            [results]="rankedWinChartData"
            [scheme]="chartColors"
            [animations]="false"
            [view]="[175, 45]"
          ></ngx-charts-bar-horizontal-stacked>
        </span>
        <span layout="row" flex class="md-body-1">
          <span flex>Elo:</span>
          <span flex>{{ playerRankedStats.rating }}</span>
        </span>
        <span layout="row" flex class="md-body-1">
          <span flex>Peak elo:</span>
          <span flex>{{ playerRankedStats.peakRating }}</span>
        </span>
        <span layout="row" flex class="md-body-1">
          <span flex>Ratio:</span>
          <span flex>{{ victories / games | percent }}</span>
        </span>
        <span flex></span>
      </span>
      <!-- Banner -->
      <span flex class="pull-top-md">
        <img src="/assets/banner/{{playerRankedStats.tier}}/{{playerRankedStats.division || 0}}.png"
             alt="{{playerRankedStats.tier}} {{playerRankedStats.division || ''}} banner"
        />
      </span>
      <span flex></span>
    </div>
</mat-card>

