@import '~@angular/material/theming';
@import 'colors';

$haloColor: lighten(mat-color($primary), 15%);
$edgeColor: #030617;
#bg-grid {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/assets/bg_grid.svg') repeat;
  background-size: 4px 4px;
}

mat-sidenav-container.mat-drawer-container {
  background: $edgeColor radial-gradient(ellipse at bottom, $haloColor 0%, $edgeColor 100%);
}

.theme-light {
  $haloColor-light: lighten(mat-color($primary-light), 20%);
  $edgeColor-light: #ebe5e5;
  #bg-grid {
    background: url('/assets/bg_grid_light.svg') repeat;
  }
  mat-sidenav-container.mat-drawer-container {
    background: $edgeColor-light radial-gradient(ellipse at bottom, $haloColor-light 0%, $edgeColor-light 100%);
  }

}

