@import '~@angular/material/theming';

$primary: mat-palette($mat-deep-purple, 600, 300, 800);
$accent: mat-palette($mat-blue, 300, 50, 700);
$warn: mat-palette($mat-red);

$primary-light: mat-palette($mat-deep-purple, 600, 100, 900);
$accent-light: mat-palette($mat-blue, 600, 100, 900);
$warn-light: mat-palette($mat-red, 600, 100, 900);
