<mat-card>
  <mat-card-content>
    <div layout="col">
      <div flex>
        <img
          [src]="'/assets/legends/portrait/' + (player.bestLegend?.id || 0) + '.png'"
          aria-hidden
          class="size-width-64"/>
      </div>
      <div flex class="pad-left">
        <div class="md-title">{{player.name}}</div>
        <small>{{player.tier}} {{player.division || ''}}</small>
      </div>
      <div flex-grow class="pull-top-sm">
          <ngx-charts-advanced-pie-chart
            [results]="chartData"
            [scheme]="colorScheme"
            [animations]="false"
            label="Ranked games"
          ></ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
