<mat-card>
  <mat-card-header>
    <div flex layout="row" layout-align="center" class="md-headline">
      <a routerLink="/player/stats/{{otherPlayerId}}" noStyle>{{otherPlayerName}}</a>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- Chart -->
    <div layout="column">
      <span flex class="md-subhead">{{team.games}} game{{team.games > 1 ? 's' : ''}}</span>
      <span flex layout-align="center" class="pull-left-md">
        <ngx-charts-bar-horizontal-stacked
          flex
          [results]="teamGamesChartData"
          [scheme]="chartColors"
          [animations]="false"
          [view]="[200, 45]"
        ></ngx-charts-bar-horizontal-stacked>
      </span>
    </div>
    <mat-divider></mat-divider>
    <!-- Text -->
    <div>
      <div layout="row" flex class="md-body-1">
        <span flex>Elo:</span>
        <span flex>{{ team.rating }}</span>
      </div>
      <div layout="row" flex class="md-body-1">
        <span flex>Peak elo:</span>
        <span flex>{{ team.peakRating }}</span>
      </div>
      <div layout="row" flex class="md-body-1">
        <span flex>Ratio:</span>
        <span flex>{{ team.wins / team.games | percent }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
