@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import 'style/colors';

//// (optional) Additional themes
//@import '~@covalent/markdown/markdown-theme';
//@import '~@covalent/highlight/highlight-theme';

$typography: mat-typography-config(
  $font-family: 'Roboto',
  $headline: mat-typography-level(32px, 48px, 700)
);
@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$theme: mat-dark-theme($primary, $accent, $warn);

@import 'style/background';
@import 'style/links';

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

/**
 * Light Theme
 */
.theme-light {
  $theme-light: mat-light-theme($primary-light, $accent-light, $warn-light);

  .tc-primary {
    color: mat-color($primary-light);
  }
  .tc-accent, a {
    color: mat-color($accent-light);
  }

  .tc-warn {
    color: mat-color($warn-light);
  }

  @include angular-material-theme($theme-light);
  @include covalent-theme($theme-light);
}

// NGX Charts
[ngx-charts-axis-label] text,
.tick text {
  fill: rgba(white, 0.5);
}

.gridline-path {
  &.gridline-path-horizontal,
  &.gridline-path-vertical {
    stroke: rgba(white, 0.06);
  }
}

.legend-title-text {
  color: rgba(white, 0.5);
}

//// (optional) Additional themes
//@include covalent-markdown-theme($theme);
//@include covalent-highlight-theme();
